extends layout
block content
	.single_wrap
		h2 Your Account
		form.form(action='/account' method='POST' enctype='multipart/form-data')
			label(for='name') Name: 
			input(type='text' name='name' value=user.name)
			label(for='email') Email: 
			input(type='email' name='email' value=user.email)
			label(for='website') Website: 
			input(type='url' name='website' placeholder='http://' value=user.website)
			h3 Upload your profile picture:
			input(type='file' name='avatar' accepts='image/png, image/jpeg')
			h3 Write your bio: 
			textarea(name='bio' rows='4' cols='50' maxlength='140')= user.bio
			input(type='submit' class='button' value='Update')
