mixin loginForm()
	
	form.form_inline(action='/login' method='POST')
		span
			strong
				a(href="/register") Register
		span  Or 
		label(for='email') Email:
		input(type='email' name='email')
		label(for='password') Password:
		input(type='password' name='password' )
		input(type='submit' class='button' value='Sign In')
